In [1]:
import pycountry
len(pycountry.countries)
iso_country=list(pycountry.countries)
#print(iso_country[0].alpha_3)

In [25]:
data_dir = './datasets'
import os
os.listdir(data_dir)

['.DS_Store',
 'corona-virus-report',
 'owid-covid-data.csv',
 'covid-world-vaccination-progress',
 'country_wise_latest.csv']

In [26]:
import pandas as pd
covid_data = pd.read_csv(data_dir + '/owid-covid-data.csv')
covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80981,ZWE,Africa,Zimbabwe,2021-04-07,36984.0,18.0,14.571,1531.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80982,ZWE,Africa,Zimbabwe,2021-04-08,37052.0,68.0,22.286,1532.0,1.0,1.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80983,ZWE,Africa,Zimbabwe,2021-04-09,37147.0,95.0,34.857,1535.0,3.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80984,ZWE,Africa,Zimbabwe,2021-04-10,37273.0,126.0,51.714,1538.0,3.0,2.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80985,ZWE,Africa,Zimbabwe,2021-04-11,37288.0,15.0,52.143,1538.0,0.0,1.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [27]:
total_death=covid_data.groupby('iso_code').agg({'new_deaths':'sum'})
#total_death['new_deaths'][0]
total_death

          new_deaths
iso_code
AFG           2521.0
AGO            553.0
AIA              0.0
ALB           2317.0
AND            120.0
...              ...
WSM              0.0
YEM           1049.0
ZAF          53322.0
ZMB           1226.0
ZWE           1538.0

[215 rows x 1 columns]

In [28]:
total_cases=covid_data.groupby('iso_code').agg({'new_cases':'sum'})

total_cases

          new_cases
iso_code
AFG         57160.0
AGO         23457.0
AIA             0.0
ALB        128393.0
AND         12545.0
...             ...
WSM             3.0
YEM          5357.0
ZAF       1558458.0
ZMB         90029.0
ZWE         37288.0

[215 rows x 1 columns]