In [1]:
import pycountry
len(pycountry.countries)
iso_country=list(pycountry.countries)
#print(iso_country[0].alpha_3)

In [25]:
data_dir = './datasets'
import os
os.listdir(data_dir)

['.DS_Store',
 'corona-virus-report',
 'owid-covid-data.csv',
 'covid-world-vaccination-progress',
 'country_wise_latest.csv']

In [50]:
import pandas as pd
covid_data = pd.read_csv(data_dir + '/owid-covid-data.csv')
covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80981,ZWE,Africa,Zimbabwe,2021-04-07,36984.0,18.0,14.571,1531.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80982,ZWE,Africa,Zimbabwe,2021-04-08,37052.0,68.0,22.286,1532.0,1.0,1.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80983,ZWE,Africa,Zimbabwe,2021-04-09,37147.0,95.0,34.857,1535.0,3.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80984,ZWE,Africa,Zimbabwe,2021-04-10,37273.0,126.0,51.714,1538.0,3.0,2.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80985,ZWE,Africa,Zimbabwe,2021-04-11,37288.0,15.0,52.143,1538.0,0.0,1.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [94]:
total_death=covid_data.groupby('iso_code').agg({'new_deaths':'sum',
                                                'location':'first',
                                                 'iso_code':'first',})
#total_death['new_deaths'][0]
total_death

2521.0

In [61]:
total_cases=covid_data.groupby('iso_code').agg({'new_cases':'sum',
                                               'location':'first',
                                                 'iso_code':'first',})


total_cases

          new_cases      location iso_code
iso_code
AFG         57160.0   Afghanistan      AFG
AGO         23457.0        Angola      AGO
AIA             0.0      Anguilla      AIA
ALB        128393.0       Albania      ALB
AND         12545.0       Andorra      AND
...             ...           ...      ...
WSM             3.0         Samoa      WSM
YEM          5357.0         Yemen      YEM
ZAF       1558458.0  South Africa      ZAF
ZMB         90029.0        Zambia      ZMB
ZWE         37288.0      Zimbabwe      ZWE

[215 rows x 3 columns]

In [30]:
country_data_dir = './datasets'
import os
os.listdir(country_data_dir)

['.DS_Store',
 'countries.csv',
 'corona-virus-report',
 'owid-covid-data.csv',
 'covid-world-vaccination-progress',
 'country_wise_latest.csv']

In [95]:
import pandas as pd
country_data = pd.read_csv(country_data_dir + '/countries.csv')
country_data

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [112]:
l=country_data.groupby('name').agg({'latitude':'first',
                                    'longitude':'first',})
l

                    latitude   longitude
name
Afghanistan        33.939110   67.709953
Albania            41.153332   20.168331
Algeria            28.033886    1.659626
American Samoa    -14.270972 -170.132217
Andorra            42.546245    1.601554
...                      ...         ...
Wallis and Futuna -13.768752 -177.156097
Western Sahara     24.215527  -12.885834
Yemen              15.552727   48.516388
Zambia            -13.133897   27.849332
Zimbabwe          -19.015438   29.154857

[245 rows x 2 columns]

In [78]:
import folium
from folium.plugins import MarkerCluster


m = folium.Map(location=[46.227638, 2.213749], zoom_start=3,min_zoom=3,max_zoom=5)

marker_cluster = MarkerCluster().add_to(m)

for i in range(0,len(total_cases)):
    
    
    la=country_data[country_data['name']==total_cases['location'][i]]['latitude']
    lo=country_data[country_data['name']==total_cases['location'][i]]['longitude']
    total_cases['new_cases'][i]
    total_death['new_deaths'][i]
    
    folium.Marker(
        location=[la.to_frame(), lo.to_frame()],
        popup="nombre de morts au total:"+str(total_death['new_deaths'][i])+
        " nombre de cas au total:"+str(total_cases['new_cases'][i]),
        icon=folium.Icon(color="red", icon="cloud"),
    ).add_to(marker_cluster)

"""folium.Marker(
    location=[44.67, -73.94],
    popup="Add popup text here.",
    icon=folium.Icon(color="red", icon="ok-sign"),
).add_to(marker_cluster)

folium.Marker(
    location=[44.67, -71.94],
    popup="Add popup text here.",
    icon=None,
).add_to(marker_cluster)"""

m

Afghanistan
2    33.93911
Name: latitude, dtype: float64